body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #fdfcf8;
}
div.container {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 1239px;
}
div.logo {
    width: 222px;
    font-size: 400%;
    font-family: algerian,courier;
    line-height: 80%;
    margin: 8px 0 0 0;
}
div.navLeft {
    float: left;
    padding: 0;
    border: 0;
    width: 180px;
    background: transparent;
    margin: 20px 0 0 10px;
}
div.navLeft h2 {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
}
div.navLeft ul {
    list-style: none;
    margin: 0 5px;
    padding: 0;
    font-size: 14px;
}
div.navLeft ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #443b3bd9;
    cursor: pointer;
}
div.mainContent{
    float: left;
    width: 1019px;
    margin: 20px 5px 10px 5px;
    padding: 0px;
    word-break: break-all;
}